h1{
    font-size: 70px;
}

body{
    font-size: 25px;
}

.description{
    font-size: 20px;
    font-style: italic;
}

.profilepic{
    width: 200px;
    border-radius: 70px;

}


.cat-profile-pics{
    width: 200px;
    border-radius: 100px;
}

.cat-pics{
    width: 400px;
    height: 360px;
    border-radius: 100px;
    object-fit: cover;
}

.sending-love{
    width: 500px
    
}

.footer{
    font-style: italic;
    font-size: medium;
}

